<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/cadastro.css">
    <title>Document</title>
</head>
<body>
    <main>
        <section class="container-cadastrar">
            <h3>CADASTRAR</h3>
            <img src="" alt="">
            <form class="form-action">
                <input type="email" id="email" placeholder="E-mail" >
                <input type="password" id="senha" placeholder="Senha">
                <input type="text" id="nome" placeholder="nome completo">
                <input type="text" id="cpf" placeholder="CPF">
                <input type="date" id="date" placeholder="Data nascimento">
                <input type="text" id="telefone" placeholder="Telefone">
            </form>
            <button type="submit" id="cadastrar" onclick="Cadastrar()" id="btn-cadastro">CADASTRAR</button>
        </section>
    </main>
    <script src="/js/manager.js"></script>
</body>
</html>